@model IdentityUser

@{
    ViewData["Title"] = "User Details";
    Layout = "_LayoutUsers";
}

<h3>Users | Details for <strong>@Html.DisplayFor(model => model.UserName)</strong></h3>
<p>View details about this User.</p>

<p><a asp-action="Index">Back to List</a></p>

<br />
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>