@model IEnumerable<IdentityUser>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutUsers";
}

<h3>Users</h3>

<hr />

<p>
    <a asp-action="Create">Create New</a>
</p>

<br />

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>UserName</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (IdentityUser user in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@user.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@user.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
