@model nata.Models.ContractsViewModel


@{
    ViewData["Title"] = "Contracts Index";
    Layout = "_LayoutAccounts";
}

<h3>Contracts</h3>

<hr />

<form asp-controller="Contracts" asp-action="Index" method="get">
    <p>
        <a asp-action="Create">Create New</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;

        Status:
        <select asp-for="SearchStatus" asp-items="Model.Status">
            <option value="all">All</option>
        </select>&nbsp;&nbsp;&nbsp;

        Cliente:
        <select asp-for="SearchClient" asp-items="Model.Accounts">
            <option value="all">All</option>
        </select>&nbsp;&nbsp;&nbsp;

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contracts[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contracts[0].AccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contracts[0].ContractType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contracts[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contracts[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contracts)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
