@model nata.Models.Activities

@{
    ViewData["Title"] = "Delete Activity";
    Layout = "_LayoutTickets";
}

<h3>Activities | Details for <strong>@Html.DisplayFor(model => model.Id)</strong></h3>
<p>Please, confirm or cancel this action.</p>

<br />
<hr />

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Efforts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Efforts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.CreatedBy)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
