@model nata.Models.Activities

@{
    ViewData["Title"] = "Activity Details";
    Layout = "_LayoutTickets";
}

<h3>Activity details for <strong>@Html.DisplayFor(model => model.UserId)</strong></h3>
<p>Activity Id <strong>@Html.DisplayFor(model => model.Id)</strong>.</p>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Efforts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Efforts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.CreatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
