@model nata.Models.TicketsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutTickets";
}

<h3>Ticket</h3>

<hr />

<form asp-controller="Tickets" asp-action="Index" method="get">
    <p>
        <a asp-action="Create">Create New</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;

        Client:
        <select asp-for="SearchClient" asp-items="Model.Accounts">
            <option value="">All</option>
        </select>&nbsp;&nbsp;&nbsp;

        Assigned To:
        <select asp-for="SearchUsername" asp-items="Model.Users">
            <option value="">All</option>
        </select>&nbsp;&nbsp;&nbsp;

        Priority:
        <select asp-for="SearchPriority" asp-items="Model.Priority">
            <option value="">All</option>
        </select>

        <br />
        <br />

        Title: <input type="text" asp-for="SearchString" />&nbsp;&nbsp;&nbsp;

        Status:
        <select asp-for="SearchStatus" asp-items="Model.Status">
            <option value="">All</option>
        </select>&nbsp;&nbsp;&nbsp;

        <input type="submit" value="Filter" />

    </p>
</form>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Account
            </th>
            <th>
                Ticket Title
            </th>
            <th>
               Assigned To
            </th>
            <th>
                Date From
            </th>
            <th>
                Priority
            </th>
            <th>
                Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tickets)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contract.Account.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @(Model.Users.FirstOrDefault(u => u.Value == item.AssignedTo).Text)
            </td>
            <td>
                @(Model.Tickets.FirstOrDefault(t => t.Id == item.Id).DateFrom.ToShortDateString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPriority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketType.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
